@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game</title>
    <link rel="stylesheet" href="~/Content/style.css">
    <link rel="stylesheet" href="~/Content/style1.css">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <style>
      

    </style>
</head>
<body>
    <div class="wrapper">
        <div class="mobile-header">
            <img src="~/Content/img/icon.png" alt="" class="icon">
        </div>
        <div class="logo-mobile">
            <img src="~/Content/img/logo.png" alt="">
        </div>
        <div class="text-heading">
            <img src="~/Content/img/text header.png" alt="">
        </div>
        <div class="download">
            <img src="~/Content/img/3_icon dowwnload.png" alt="">
        </div>
        <div class="chart">
            <img src="~/Content/img/chart.png" alt="">
        </div>
       
        <div class="info-me">
            <div class="wrap-main-log">
                <div class="wrap-info-me">
                    <div class="row">
                        <div class="col-md-6 col-xs-6">
                            <p class="title">Tài khoản : </p>
                        </div>
                        <div class="col-md-6 col-xs-6">
                            <p class="title-value" id="account-name"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-xs-6">
                            <p class="title">Số tiền : </p>
                        </div>
                        <div class="col-md-6 col-xs-6">
                            <p class="title-value" id="account-value"></p>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
      


        <div class="form" id="form-main">

            <div class="btn-wrap">
                <img src="~/Content/img/1_dk_active.png" alt="" class="btn-dk">
                <img src="~/Content/img/2_dangnhao_off.png" alt="" class="btn-dn">
            </div>
            <div class="input-wrap">
                <img src="~/Content/img/ten dang nhap.png" alt="">
                <input type="text" id="UserName" placeholder="Tên đăng nhập">
            </div>
            <div class="input-wrap">
                <img src="~/Content/img/lock.png" alt="">
                <input type="password" id="PassWord" placeholder="Mật khẩu">
            </div>
            <div class="input-wrap confirm-pass">
                <img src="~/Content/img/lock.png" alt="">
                <input type="password" id="RePassword" placeholder="Nhập lại mật khẩu">
            </div>
            <img src="~/Content/img/Button nahn 100k.png" alt="" class="nhanngay">

        </div>
        <img src="~/Content/img/GiẢI TRÍ ĐA NỀN TẢNG.png" alt="" class="giaitri">
        <img src="~/Content/img/Bản cài đặt đã đổi tên nhằm vượt qua sự kiểm duyệt.png" alt="" class="text-warning">
        <div class="download-mobile">
            <img src="~/Content/img/Button down ios.png" alt="">
        </div>
        <img src="~/Content/img/Bản cài đặt đã đổi tên nhằm vượt qua sự kiểm duyệt.png" alt="" class="text-warning" style="margin-top: 0px;">
        <div class="download-mobile">
            <img src="~/Content/img/Group 10.png" alt="">
        </div>
        <div class="games-wrap">
            <div class="heading">
                <img src="~/Content/img/texxt 2.png" alt="">
            </div>
            <img src="~/Content/img/game 1.png" alt="">
            <img src="~/Content/img/game 2.png" alt="">

            <img src="~/Content/img/game 3.png" alt="">

            <img src="~/Content/img/game 4.png" alt="">

        </div>
    </div>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/app.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
</body>
</html>