<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/Content/style.css">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="wrapper tc">
        <div class="mobile-header">
            <img src="./img/icon.png" alt="" class="icon">
        </div>
        <div class="logo">
            <img src="~/Content/img/logo.png" alt="">
        </div>
        <div class="text-heading">
            <img src="~/Content/img/text.png" alt="">
        </div>
        <div class="form-2">
            <div class="input-wrap">
                <img src="~/Content/img/Shape 1.png" alt="">
                <span>Tên đăng nhập:</span>
                <input type="text" value="@ViewBag.AccountName">

            </div>
            <div class="input-wrap">
                <img src="~/Content/img/Shape 2.png" alt="">
                <span>Số tiền:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <input type="text" value="@ViewBag.Balance">

            </div>
        </div>
        <div class="group11">
            <img src="~/Content/img/Group 11.png" alt="">
        </div>
        <img src="~/Content/img/Button down ios.png" class="download-tc" alt="">
        <img src="~/Content/img/Bản cài đặt đã đổi tên nhằm vượt qua sự kiểm duyệt .png" class="text-warning" alt="">
        <img src="~/Content/img/Group 10.png" class="web" alt="">
        <img src="~/Content/img/Group 11 copy.png" class="text-warning" alt="">
        <img src="~/Content/img/1111.png" class="vpn" alt="">
        <img src="~/Content/img/1111text.png" class="vpn-text" alt="">

    </div>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/app.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
</body>
</html>